.d-flex {
    display: flex;
}

.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}